<div>
    <h3>Regular textarea
        <button (click)="changeNgModel()">Change</button>
    </h3>
    <textarea [(ngModel)]="longText" autosize></textarea>
</div>

<hr/>

<div>
    <h3>Min rows <input [(ngModel)]="minRows"/></h3>
    <textarea autosize [minRows]="minRows">Less than 3 rows of text but it should keep size </textarea>
</div>

<hr/>

<div>
    <h3>Max rows <input [(ngModel)]="maxRows"/></h3>
    <textarea autosize [maxRows]="maxRows">Here if text gets above 4 rows autosize should go off (show scroll)
new line
newer line
newerer :D line</textarea>
</div>

<hr/>

<div>
    <h3>Only growing <input type="checkbox" [(ngModel)]="onlyGrow"/></h3>
    <textarea autosize [onlyGrow]="onlyGrow">1. Try resizing this
    2. by dragging or
    3. type lots of text and then
    4. start deleting it...
    5. this textarea
    6.    should keep its max size
    7.    and
    8. not shrink</textarea>
</div>

<hr/>

<div>
    <h3>
        <h3>Use '!important' <input type="checkbox" [(ngModel)]="useImportant"/></h3>
    </h3>
    <form [formGroup]="reactiveForm">
        <textarea type="text" class="forceImportant"
                  [useImportant]="useImportant"
                  autosize>This one shouldnt work correctly without 'useImportant' Input set
        as there is a
        harmful
        and malicious '!important' somewhere in the styles</textarea>
    </form>
</div>

<hr/>

<div>
    <h3>[ formControl ]
        <button (click)="updateReactiveText()">Change</button>
    </h3>
    <textarea type="text" [formControl]="reactiveText" autosize></textarea>
</div>

<div>
    <h3>
        [ formGroup ]
        <button (click)="updateReactiveFormText()">Change</button>
    </h3>
    <form [formGroup]="reactiveForm">
        <textarea type="text" formControlName="reactiveText" [formGroup]="reactiveForm" autosize></textarea>
    </form>
</div>

<hr/>

<div>
    <h3>Top and bottom borders <strong>15px</strong> of width</h3>
    <textarea autosize class="top-and-bottom-borders">1. Here this textarea
    2. should show all 4 lines
    3. as it respects top
    4. and bottom borders
    5. otherwise this fifth line would have been hidden</textarea>
</div>

<hr/>



