<div>
    <h3>Regular textarea
        <button (click)="changeNgModel()">Change</button>
    </h3>
    <textarea [(ngModel)]="longText"
              (resized)="onResized($event)"
              autosize></textarea>
</div>

<hr/>

<div>
    <h3>Min rows <input [(ngModel)]="minRows"/></h3>
    <textarea autosize rows="1" [minRows]="minRows">1 row of text but it should keep size </textarea>
</div>

<hr/>

<div>
    <h3>Max rows <input [(ngModel)]="maxRows"/></h3>
    <textarea autosize [maxRows]="maxRows">Here if text gets above 4 rows autosize should go off (show scroll)
new line
newer line
newerer :D line</textarea>
</div>

<hr/>

<div>
    <h3>Only growing <input type="checkbox" [(ngModel)]="onlyGrow"/></h3>
    <textarea autosize [onlyGrow]="onlyGrow">1. Try resizing this
    2. by dragging or
    3. type lots of text and then
    4. start deleting it...
    5. this textarea
    6.    should keep its max size
    7.    and
    8. not shrink</textarea>
</div>

<hr/>

<div>
    <h3>
        <h3>Use '!important' <input type="checkbox" [(ngModel)]="useImportant"/></h3>
    </h3>
    <form [formGroup]="reactiveForm">
        <textarea type="text" class="forceImportant"
                  [useImportant]="useImportant"
                  autosize>This one shouldnt work correctly without 'useImportant' Input set
        as there is a
        harmful
        and malicious '!important' somewhere in the styles</textarea>
    </form>
</div>

<hr/>

<div>
    <h3>[ formControl ]
        <button (click)="updateReactiveText()">Change</button>
    </h3>
    <textarea type="text" [formControl]="reactiveText" autosize></textarea>
</div>

<div>
    <h3>
        [ formGroup ]
        <button (click)="updateReactiveFormText()">Change</button>
    </h3>
    <form [formGroup]="reactiveForm">
        <textarea type="text" formControlName="reactiveText" [formGroup]="reactiveForm" autosize></textarea>
    </form>
</div>

<hr/>

<div>
    <h3>Top and bottom borders <strong>15px</strong> of width</h3>
    <textarea autosize class="top-and-bottom-borders">1. Here this textarea
    2. should show all 4 lines
    3. as it respects top
    4. and bottom borders
    5. otherwise this fifth line would have been hidden</textarea>
</div>

<hr/>

<div>
    <h3>Inside of a table with width 100%</h3>
    <table>
        <tr>
            <td>First column</td>
            <td>
                <textarea autosize class="form-control">Apparently combination of:
                    * table
                    * width: 100% on textarea el
is causing our cloned helper element some problems so...</textarea>
            </td>
        </tr>
    </table>
</div>

<hr/>

<div>
    <h3>Arbitrary content reseting
        <button (click)="resetArbitraryExample()">Reset</button></h3>
                <textarea autosize [(ngModel)]="resetableContent">
                    reset
                </textarea>
</div>

<hr/>

<div class="resize-with-window">
    <h3>Window width dependent textarea</h3>
    <p>Try to resize the window... all text should be always visible</p>
    <textarea autosize>Mega Man X[a] is an action-platform video game developed and published by Capcom for the Super Nintendo Entertainment System (SNES). It was the first Mega Man game for the 16-bit console and the first game in the Mega Man X series, a spin-off of the original Mega Man series that began on the SNES's predecessor, the Nintendo Entertainment System (NES). Mega Man X was released in Japan on December 17, 1993 and was released in both North America and Europe the following year. Taking place a century after the original Mega Man series, Mega Man X is set in a futuristic world populated by both humans and "Reploids", robots capable of thinking, feeling, and growing like their human creators.
        THIS SHOULD BE ALWAYS VISIBLE!!! (super close to the bottom!!!)</textarea>
</div>

<hr/>

<div style="text-align: center">
    <h3>Destroyed ng-container </h3>
    <div style="max-width: 500px; margin: auto; border: 1px solid black">
        <p >No autosizing textarea here... that is because textarea was placed in ng-container that was immediately destroyed.</p>
        <p>Eventough autosize was still initializing itself when container was destroyed... there should be no error in the console</p>
    </div>
    <ng-container *ngIf="showAreaInContainer">
        <textarea [(ngModel)]="longText" autosize></textarea>
    </ng-container>
</div>

<hr/>


